@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* A fresh green shade */
    color: black; /* Ensure good contrast */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }